/*==============================*
 * classname
 */
// layout
$layout = '.layout-'
$layout_pc = $layout + 'pc'
$layout_sp = $layout + 'sp'

$device_use_touch = '.device-use-touch'
$device_use_mouse = '.device-use-mouse'

// short
$lpc = $layout_pc
$lsp = $layout_sp

//
$dutouch = $device_use_touch
$dumouse = $device_use_mouse

/*==============================*
 * width
 */
$width_pc = 1280
$padding_pc = 30
$width_pc_inner = $width_pc - ($padding_pc * 2)

$width_sp = 750
$padding_sp = 40
$width_sp_inner = $width_sp - ($padding_sp * 2)

$width_min = 320

// short
$wpc = $width_pc
$ppc = $padding_pc
$wpc_i = $width_pc_inner

$wsp = $width_sp
$psp = $padding_sp
$wsp_i = $width_sp_inner

$wmin = $width_min

/*==============================*
 * color
 */
$color_main = #fff
$color_sub = #000
$color_citation = #f0f0f0
$color_accent = #ff8686

$color_disabled = #dfe0df

$font_color_default = #000
$font_color_link_default = #000
$font_color_link_hover = #000

/*==============================*
 * common
 */
$spacer = 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAJCAYAAAA/33wPAAAAvklEQVQoFY2QMQqEMBBFv7ERa/EMXkGw11K8QbDXzuN4BHv7QO6ifUgj7v4UAdlVM8Uwf+b9YZJISnlqrfEUZVlinucnBGKaJgghbiHOyLyFKIoCbdvecpyReYvo/Ma2bajrGtbaC58kCdZ1RZ7nl/4/4d5EsO/7nzl7IUtodBexMMagaRrs+06JLMvcNWmaOv2W/C/TMAyD58dxROgSmvxFFMdxoOs6lliWBXEcuzokXRbRoJRyvqqqQvye+QDMDz1D6yuj9wAAAABJRU5ErkJggg=='

/*==============================*
 * font
 */
$font_gothic = "Helvetica Neue", Helvetica, "Segoe UI", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Arial, "メイリオ", Meiryo, -apple-system, BlinkMacSystemFont, sans-serif;

$font_family = $font_gothic

$font_size_default = 18
$font_size_pc = $font_size_default
$font_size_sp = 24

$font_size_split = 20

// short
$fsd = $font_size_default
$fpc = $font_size_pc
$fsp = $font_size_sp

/*==============================*
 * line_height
 */
$line_height_default = 1.5

// short
$lh = $line_height_default

/*==============================*
 * link_decoration
 */
$link_decoration_default = underline
$link_decoration_hover = none

/*==============================*
 * path
 */
// img
$src_path = '../images/'

/*==============================*
 * transition
 */
$transition_ease = ease-in-out
$transition_duration = .2s

// short
$tre = $transition_ease
$trd = $transition_duration

/*==============================*
 * site
 */

